@font-face {
  font-family: "Noah";
  src: url("../assets/fonts/Noah-Regular.woff2") format("woff2"),
    url("../assets/fonts/Noah-Regular.woff") format("woff"),
    url("../assets/fonts/Noah-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../assets/fonts/Noah-Bold.woff2") format("woff2"),
    url("../assets/fonts/Noah-Bold.woff") format("woff"),
    url("../assets/fonts/Noah-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Шрифты */
  --primary-font-size: 16px;
  --primary-word-space: 1px;

  /* Цвета */
  --dark-blue: #0c56c5;
  --light-blue: #73abff;
  --extra-light-blue: #b3cff9;

  --text-color: #000;

  --primary-hover: #2980b9;

  --main-gradient: linear-gradient(135deg, var(--dark-blue), var(--light-blue));
  --light-gradient: linear-gradient(
    135deg,
    var(--light-blue),
    var(--extra-light-blue)
  );

  /* Ширина контейнера */
  --container-max-width: 1200px;
}

body * {
  font-family: "Noah", sans-serif;
  font-size: var(--primary-font-size);
  font-weight: 400;
  color: var(--text-color);
}

.main {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  max-width: var(--container-max-width);
  border: 1px solid lightgray;
}

.header,
.footer {
  position: relative;
  height: 70px;
}
.footer {
  margin-top: 20px;
  height: 85px;
}
.footer__wrapper {
  background-color: #000;
}
.header__container,
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo {
  width: 175px;
}

.connect-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.link__tel {
  font-size: var(----primary-font-size);
}
.link__mail {
  font-size: var(----primary-font-size);
  margin-left: 25px;
}
.link__tel--white,
.link__mail--white {
  color: #fff;
}

.link,
.link__mob-menu {
  white-space: nowrap;
  margin-right: 11%;
}

.social-wrapper {
  white-space: nowrap;
  margin-right: 30px;
}
.social__item {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.social__whatsapp {
  background: url("../assets/images/header/social/whatsapp-blue.svg") no-repeat
    100% 100% / contain;
}
.social__telegram {
  margin-left: 10px;
  background: url("../assets/images/header/social/telegram-blue.svg") no-repeat
    100% 100% / contain;
}

.button-order {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  padding: 10px 45px;
  border-radius: 27px;
  background-color: var(--dark-blue);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.offer {
  height: 570px;
}
.offer__image-wrapper,
.about__image-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
}
.offer__image-wrapper {
  max-width: 600px;
  top: 13%;
  right: 0;
  margin-left: auto;
}
.offer__image,
.about__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.offer-image__circle,
.about-image__circle {
  max-width: 440px;
  max-height: 440px;
  aspect-ratio: 1/1;
  background: url("../assets/images/offer/sofa-bubble-offer-circle.svg")
    no-repeat 100% 100% / contain;
}
.offer-image__sofa,
.about-image__sofa {
  right: 14%;
  max-width: 540px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain;
}
.offer-image__sofa {
  top: -9%;
}
.about-image__sofa {
  top: -15%;
  right: 9%;
  max-width: 390px;
}

.offer__text-wrapper {
  position: absolute;
  top: 25%;
  left: 15px;
}
.offer__text {
  width: 100%;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.1;
}
.offer__button-order {
  margin-top: 40px;
}
.product {
  padding-top: 50px;
}
.product__wrapper {
  position: relative;
  height: 100%;
}
.product__item {
  position: relative;
  height: 685px;
  /* padding-top: 50px; */
  margin-bottom: 100px;
}
.product__image {
  display: inline-block;
  width: 52%;
}
.product__image--right {
  position: absolute;
  right: 0;
}
.product__info {
  display: inline-block;
  width: 46%;
  vertical-align: top;
  padding: 6px 15px 15px 25px;
}
.product__info--left {
  padding: 6px 15px 15px 0;
}
.product__title {
  font-size: 32px;
  font-weight: 700;
}
.product__text {
  font-size: 14px;
  padding: 25px 0px;
  line-height: 1.3;
}

.props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.props__header {
  margin-bottom: 10px;
}
.props__item {
  margin-bottom: 10px;
}
.props__item {
  font-size: 14px;
}
.props__header {
  font-size: 14px;
  font-weight: 700;
}
.props__item-title {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}
.product__button-order {
  margin-top: 15px;
}

.advantages {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: anchor-center; */
}
.advantages--left {
  justify-self: start;
  right: none;
  left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.advantages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 280px;
  /* height: 100%; */
}
.advantages__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  height: 30px;
}
.advantages__item-text {
  display: inline-block;
  font-size: 14px;
  max-width: 210px;
  height: 75px;
  line-height: 1.3;
}
.advantages__icon {
  position: absolute;
  right: 20px;
  bottom: 80px;
  z-index: -1;
}

.advantages__icon--1 {
  width: 135px;
  height: 135px;
}
.advantages__icon--2 {
  width: 180px;
  height: 180px;
}
.advantages__icon--3 {
  width: 220px;
  height: 220px;
}
.advantages__icon--1-1 {
  background: url("../assets/images/products/1/product_icon-1.svg") no-repeat
    center center / contain;
}
.advantages__icon--1-2 {
  background: url("../assets/images/products/1/product_icon-2.svg") no-repeat
    center center / contain;
}
.advantages__icon--1-3 {
  background: url("../assets/images/products/1/product_icon-3.svg") no-repeat
    center center / contain;
}

.advantages__icon--2-1 {
  background: url("../assets/images/products/2/product_icon-1.svg") no-repeat
    center center / contain;
}
.advantages__icon--2-2 {
  background: url("../assets/images/products/2/product_icon-2.svg") no-repeat
    center center / contain;
}
.advantages__icon--2-3 {
  background: url("../assets/images/products/2/product_icon-3.svg") no-repeat
    center center / contain;
}

.advantages__icon--3-1 {
  background: url("../assets/images/products/3/product_icon-1.svg") no-repeat
    center center / contain;
}
.advantages__icon--3-2 {
  background: url("../assets/images/products/3/product_icon-2.svg") no-repeat
    center center / contain;
}
.advantages__icon--3-3 {
  background: url("../assets/images/products/3/product_icon-3.svg") no-repeat
    center center / contain;
}

.advantages-scheme {
  position: relative;
  width: 100%;
  height: 380px;
  background-color: var(--extra-light-blue);
  border-radius: 38px;
  padding: 40px 15px 15px 30px;
}
.advantages-scheme__title {
  width: 450px;
  font-size: 46px;
  font-weight: 700;
  color: var(--dark-blue);
  line-height: 1.2;
}
.advantages-scheme__image-wrapper {
  position: absolute;
  top: 50%;
  left: 64%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.advantages-scheme__image {
  max-width: 330px;
  aspect-ratio: 1/1;
}
.advantages-scheme__icon {
  position: absolute;
  display: inline-block;
  width: 265px;
  height: 65px;
}
.advantages-scheme__icon--1 {
  top: 14%;
  right: 53%;
  background: url("../assets/images/advantages-scheme/icon-1.svg") no-repeat
    center center / contain;
}
.advantages-scheme__icon--2 {
  top: 14%;
  right: -64%;
  background: url("../assets/images/advantages-scheme/icon-2.svg") no-repeat
    center center / contain;
}
.advantages-scheme__icon--3 {
  top: 67%;
  right: 72%;
  background: url("../assets/images/advantages-scheme/icon-3.svg") no-repeat
    center center / contain;
}
.advantages-scheme__icon--4 {
  top: 72%;
  right: -59%;
  background: url("../assets/images/advantages-scheme/icon-4.svg") no-repeat
    center center / contain;
}
.advantages-scheme__icon-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 130px;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
  top: 23%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1.2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-top: 125px;
}
.about__image-wrapper {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  max-height: 350px;
}
.about-image__circle {
  width: 300px;
  aspect-ratio: 1/1;
}
.about-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 52%;
  flex: 1 0 52%;
  -ms-flex-item-align: start;
  align-self: start;
  font-weight: 700;
  font-size: 31px;
}
.about-info__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about-info__text p {
  margin-bottom: 23px;
}

.connect-footer {
  margin-left: 8%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.link__footer {
  margin-right: 0;
}
.link__tel--big,
.link__mail--big {
  font-size: 22px;
}

.rights,
.politika {
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}

/* МОБИЛЬНОЕ МЕНЮ */
.burger-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 33px;
  height: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.burger-line {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  background: #fff;
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: right 0.3s ease;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 120px 20px 20px;
}

.mobile-menu.active {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.burger-btn.active .burger-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-btn.active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-btn.active .burger-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
  -ms-transform: rotate(-45deg) translate(7px, -8px);
  transform: rotate(-45deg) translate(7px, -8px);
}
.link__mob-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.link__tel__mob-menu,
.link__mail__mob-menu {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}
.link__mail__mob-menu {
  margin-top: 25px;
}

.politika__mob-menu,
.rights__mob-menu {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #fff;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.politika__mob-menu {
  bottom: 45px;
  color: #000;
}
.rights__mob-menu {
  color: #000;
}

@media (max-width: 1180px) {
  .offer__text {
    font-size: 40px;
  }
}

@media (max-width: 1060px) {
  .offer__text {
    font-size: 36px;
  }
  .offer__image-wrapper {
    max-width: 450px;
  }
  .offer-image__circle,
  .about-image__circle {
    max-width: 370px;
    max-height: 370px;
  }
}

@media (max-width: 1000px) {
  .offer__text {
    font-size: 32px;
  }
}

@media (max-width: 950px) {
  .offer__text {
    font-size: 30px;
  }
}

@media (max-width: 880px) {
  .advantages__item {
    margin-right: 15px;
    width: 100%;
    max-width: 280px;
  }
  .advantages__icon {
    right: -10%;
  }
  .advantages__icon--1 {
    width: 100px;
    height: 100px;
  }
  .advantages__icon--2 {
    width: 140px;
    height: 140px;
  }
  .advantages__icon--3 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 850px) {
  .offer {
    height: 500px;
  }
  .offer__text {
    font-size: 28px;
  }
  .offer__image-wrapper {
    max-width: 400px;
  }
  .offer-image__circle,
  .about-image__circle {
    max-width: 330px;
    max-height: 330px;
  }
}

@media (max-width: 800px) {
  .product__item {
    height: 1000px;
  }
  .product__image,
  .product__info {
    width: 100%;
  }
  .advantages--left {
    justify-self: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .product__info {
    padding-left: 0;
  }
  .product__image--right {
    position: relative;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
  .advantages__icon {
    right: 0;
  }
}

@media (max-width: 780px) {
  .logo {
    width: 122px;
  }
  .offer__image-wrapper {
    top: 31%;
    left: 52%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
  }
  .offer__text-wrapper {
    text-align: center;
    top: 8%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
  }
  .offer__text {
    font-size: 32px;
  }
  .offer__button-order {
    margin-top: 25px;
  }
  .offer__button-order {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .link,
  .button-order--header {
    display: none;
  }
  .social {
    margin: 0;
  }
  .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .logo-wrapper.logo-wrapper__mob-menu {
    top: 25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media (max-width: 650px) {
  .advantages {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .advantages__icon {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 130px;
  }
  .advantages__icon--1 {
    width: 90px;
    height: 90px;
  }
  .advantages__icon--2 {
    width: 120px;
    height: 120px;
  }
  .advantages__icon--3 {
    width: 140px;
    height: 140px;
  }
  .advantages__item-title,
  .advantages__item-text {
    text-align: center;
    /* height: 30px; */
    margin-bottom: 10px;
  }
  .advantages__item-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .offer {
    height: 720px;
  }
  .offer__image-wrapper {
    top: 40%;
    left: 54%;
  }
  .offer__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 650px;
    padding: 0 15px;
  }
  .offer__text {
    max-width: 340px;
    font-size: 40px;
    line-height: 1.2;
    padding-top: 10%;
  }
  .offer-image__circle,
  .about-image__circle {
    max-width: 270px;
    max-height: 270px;
  }
  .offer-image__sofa,
  .about-image__sofa {
    top: -1%;
    right: 21%;
    max-width: 335px;
  }
  .offer-image__circle {
    top: 30px;
    right: 15%;
  }
  .offer__button-order {
    display: inline-block;
  }
  .offer__button-order {
    font-size: 24px;
  }
  .button-order {
    padding: 14px 0;
    width: 100%;
  }
  .product__item {
    height: 1030px;
    margin-bottom: 120px;
  }
  .product__info {
    padding-right: 0;
  }
}

@media (max-width: 450px) {
  .advantages {
    /* position: relative; */
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .advantages__item {
    margin-right: 0;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 65px;
  }
  .advantages__item-title,
  .advantages__item-text {
    font-size: 18px;
    text-align: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .advantages__item-text {
    max-width: 380px;
  }
  .advantages__item-title {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .product__wrapper {
    height: auto;
  }
  .product__item {
    height: 1350px;
  }
  .advantages__item {
    max-width: 100%;
  }
  .advantages__icon--1,
  .advantages__icon--2,
  .advantages__icon--3 {
    width: 135px;
    height: 135px;
    right: 0;
    bottom: 75%;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 430px) {
  .social__item {
    width: 38px;
    height: 38px;
  }
  .offer__text-wrapper {
    top: 4%;
    height: 640px;
    padding: 0 12px;
  }
  .offer-image__circle,
  .about-image__circle {
    max-width: 225px;
    max-height: 225px;
  }
  .offer-image__circle {
    top: 65px;
  }
  .offer-image__sofa,
  .about-image__sofa {
    top: 9%;
    max-width: 285px;
  }
  .offer__button-order {
    font-size: 26px;
  }
}

@media (max-width: 390px) {
  .social__item {
    width: 32px;
    height: 32px;
  }
  .offer-image__sofa,
  .about-image__sofa {
    right: 20%;
  }
}

@media (max-width: 360px) {
  .offer {
    height: 650px;
  }
  .offer__image-wrapper {
    top: 32%;
  }
  .offer__text-wrapper {
    height: 565px;
  }
  .offer__text {
    font-size: 32px;
    max-width: 300px;
  }
  .offer-image__circle {
    right: 10%;
  }
  .offer-image__sofa,
  .about-image__sofa {
    right: 15%;
  }
  .offer__button-order {
    font-size: 20px;
  }
  .social__item {
    width: 28px;
    height: 28px;
  }
  .link__tel__mob-menu,
  .link__mail__mob-menu {
    font-size: 18px;
  }
}

@media (max-width: 345px) {
  .offer-image__circle {
    right: 5%;
  }
  .offer-image__sofa,
  .about-image__sofa {
    right: 10%;
  }
}
